/* NOTE: Fonts */
body {
  overflow: hidden;
  /* Hide scrollbars */
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: black;
}

h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px
}

hr {
  width: 75%;
  margin: auto;
}

h1.alt {
  font-family: 'Bungee Inline', cursive;
  color: white;
  font-size: 26px
}

.time {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
  font-weight: 300
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2
}

.profile {
  position: absolute;
  height: 75%;
  width: 33%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}

.menu-burger {
  display: none;
}

#email {
  display: none;
}

@media (max-width: 50em) {
  h1 {
    font-size: 60px;
    text-align: center;
  }

  #email {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .time {
    display: none;
  }

  .profile {
    position: absolute;
    height: 75%;
    width: 66%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
  }

  footer {
    display: none;
  }

  .menu-burger {
    display: inline;
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 5;
  }

  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 8;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #2C2C2C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    transition-timing-function: cubic-bezier(1, .42, .71, 1);
  }

  .overlay-content {
    position: relative;
    top: 15%;
    /* 15% from the top */
    width: 100%;
    /* 100% width */
    margin-top: 10px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }

  .overlay-content h6 {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #878787;
  }

  .closebtn:hover {
    color: #AC09BC;
    text-decoration: none;
  }

  .overlay-content a:hover, #links:hover {
    color: #AC09BC;
  }

  .overlay-content p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    text-align: justify;
    text-justify: inter-word;
  }

  .closebtn {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    color: #f1f1f1;
  }

  #mobile-top {
    margin-top: 70px;
  }
}

.work {
  position: absolute;
  left: 25%;
  bottom: 5px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 300;
}

.work:hover {
  color: #AC09BC;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
  text-decoration: none;
}

.about {
  position: absolute;
  right: 25%;
  bottom: 5px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 300;
}

.about:hover {
  color: #AC09BC;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
  text-decoration: none;
}

/* NOTE: CONTACT DROPDOWN */
.aboutimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#links {
  text-align: center;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #f1f1f1;
  font-weight: 300;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  bottom: 0;
  background-color: #2C2C2C;
  /* Black fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 12%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #f1f1f1;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
  font-weight: 600;
}

#padding8 {
  padding: 8px;
}

.overlay h6 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #878787;
  margin-bottom: .5em;
}

.overlay a:hover, #links:hover {
  color: #AC09BC;
}

.overlay p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #f1f1f1;
  text-align: justify;
  text-justify: inter-word;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  font-family: 'Bungee Inline', cursive;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.header {
  width: 100%;
  text-align: right;
  position: relative;
}

.link {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;

  .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }

  &:hover {
    .bar {
      opacity: 1;
      bottom: 5px;
    }
  }
}

.muralheight {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#emailaddress {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #f1f1f1;
  padding: 8px;
}

#contact_date {
  color: grey;
  font-size: 11px;
  padding-top: 10px;
}

h1.contact {
  font-family: 'Bungee inline', sans-serif;
  font-size: 26px;
  text-align: center;
  color: white;
}

p.footer {
  text-align: center;
}

#font_16 {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 300;
}